<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Página no encontrada</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

{{>header }}
<div class="container">
    <h2>404</h2>
    <p>Lo sentimos, la página que estás buscando no existe.</p>
    <div class="actions">
        <a href="/zonas">
            <button>Volver al Inicio</button>
        </a>
    </div>
</div>
<footer>
    © 2024 Siemens. All rights reserved.
</footer>

</body>
</html>
