{{#layout}}
    <h2>Zona creada con éxito</h2>
    <p>La nueva zona ha sido dada de alta correctamente.</p>
    <div class="actions">
        <a href="/zonas">
            <button class="btn">Volver a la lista de zonas</button>
        </a>
    </div>
{{/layout}}

{{>layout}}