{{#layout}}
    <h2>Listado de Inmuebles</h2>
    <p>Listado de todos los inmuebles disponibles en la base de datos.</p>

    <div class="actions">
        <button>Filtrar</button>
        <button>Editar</button>
        <a href="/inmuebles/crear">
            <button>Agregar</button>
        </a>
        <button>Eliminar</button>
        <button>Exportar</button>
    </div>
    <table>
        <thead>
        <tr>
            <th>ID del Inmueble</th>
            <th>Ambientes</th>
            <th>Tamaño</th>
            <th>Tipo De Vivienda</th>
            <th>Operacion</th>
            <th>Estado</th>
        </thead>
        <tbody>
        {{#inmuebles}}
            <tr>
                <td>{{id}}</td>
                <td class="ambientes">{{cantAmbientes}}</td>
                <td class="tamanio">{{tamanioEnM2}}</td>
                <td class="tipoDeVivienda">{{tipo}}</td>
                <td class="tipo">{{operacion.tipo}}</td>
                <td class="estado">{{estadoOperacion.estado}}</td>
                <td><a href="/inmuebles/{{id}}/reservar">
                    <button>Reservar</button>
                </a></td>
                <td><a href="/inmuebles/{{id}}/reservar">
                    <button>Concretar</button>
                </a>
                </td>
            </tr>
        {{/inmuebles}}
        </tbody>
    </table>
</div>
{{/layout}}

{{>layout}}